.personajes{
    color: black;
    font-size: 200px;
}
li{
text-decoration: none;
list-style: none;
display: flex;
flex-direction: column;
justify-content: center;
width: 50vh;
text-align: center;
padding: 10px;
margin-left: 10%;
}

.reiniciar{
margin-left: 30%;
background-color: red;
color: white;
padding: 15px;
font-weight: bold;
font-size: 100%;
}
