.personajes{
    color: black;
    font-size: 200px;
}
li{
text-decoration: none;
list-style: none;
display: flex;
flex-direction: column;
justify-content: center;
width: 50vh;
text-align: center;
padding: 10px;
}
